.login-card {
  min-width: 100px;
  max-width: 400px;
  width: 100%;
  margin-top:10em;
  position: absolute;
  right: 8%;
}

.login-card-full-width {
  width: 100%;
}

.login-button {
  margin: 100,100,100,100;
}

.login-button {
  width:40%;
  max-width: 180px;
  min-width: 120px;
  margin-left:30%;
  margin-right:30%;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  color: gray;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  text-align: center;
}
