<p></p>

<mat-card class="login-card" *ngIf="page===0">
  <div>
    <h1>Welcome to Private Covid-19 Vaccination System</h1>
    <p>
      The Covid-19 vaccination rollout in Malaysia and most countries have been underway for a
few months. As more and more of the population have been vaccinated, private healthcare
centres have been allowed to purchase and administer vaccines, especially to patients who want
to choose the type of vaccine that they receive.
    </p>
    <br>
    <form (submit)="verifyEmail(emailForm)" #emailForm="ngForm">
      <mat-form-field appearance="fill" class="login-card-full-width">
        <mat-label>Please enter your Email..</mat-label>
      <input type="email" matInput name="email"
      ngModel #email="ngModel"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      placeholder="Eg. email@example.com" required>
      <mat-hint>Make sure your email is valid.</mat-hint>
      <mat-error *ngIf="email.errors?.pattern">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.errors?.required">
        Email is <strong>required</strong>
      </mat-error>
      </mat-form-field>
      <button
      [disabled]="email.errors?.pattern || email.errors?.required"
      type="submit" mat-raised-button class="login-button" color="accent">Proceed</button>
    </form>
  </div>
</mat-card>

<!--If user not exist-->
<mat-card class="login-card"
*ngIf="page===1"
style="margin-top: 10em;">
  <div>
    <h1>Welcome to Private Covid-19 Vaccination System</h1>
    <p>
      No account was found with <b>{{inputEmail}}</b>.
      Register now or
      <a href="">try again</a>.
    </p>
    <br>
    <h2>You are...</h2>
    <button mat-stroked-button class="patient-button"
    color="accent" (click)="gotoPatientReg()">
      A Vaccine Patient</button>
    <button mat-stroked-button class="admin-button"
    color="primary" (click)="gotoAdminReg()">
      A Doctor/Staff</button>
  </div>
</mat-card>

<!--Client Register-->
<mat-card class="login-card"
*ngIf="page===0"
style="margin-top: 2em;">
  <div>
    <h1>Register 2</h1>
    <mat-progress-bar mode="determinate" value={{progress}}></mat-progress-bar>
    <br>
    <p>
    Please fill in the fields.
    </p>
    <form (submit)="verifyPatient(patientForm)" #patientForm="ngForm">
      <mat-form-field appearance="fill" class="login-card-full-width" (focusout)="setProgress(25)">
        <mat-label>Enter your username</mat-label>
        <input matInput type="email" name="username" #username="ngModel" ngModel required minlength="6">
        <mat-hint>Username must be 6 or more characters</mat-hint>
        <mat-error *ngIf="username.hasError('minlength')">Must be <strong>6 or more</strong> characters!</mat-error>
        <mat-error *ngIf="username.errors?.required">Username is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" (focusout)="setProgress(35)">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" #password="ngModel" ngModel required minlength="6">
        <mat-hint>Password must be 6 or more characters</mat-hint>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.errors?.required">Password is <strong>required</strong></mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Must be <strong>6 or more</strong> characters!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width" (focusout)="setProgress(45)">
        <mat-label>Select idendity type:</mat-label>
        <mat-select ngModel name="type" #type="ngModel" required [(ngModel)]="optionValue">
          <mat-option value="IC">New IC</mat-option>
          <mat-option value="Passport">Passport</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
      (focusout)="setProgress(55)"
      *ngIf="optionValue == 'Passport'">
        <mat-label>Enter your Passport No.</mat-label>
        <input type="text" matInput name="passport"
          ngModel #passport="ngModel"
          pattern="^[A-PR-WYa-pr-wy][1-9]\d\s?\d{4}[1-9]$"
          placeholder="Eg. A123456789" required>
        <mat-hint>Make sure your passport No. is valid.</mat-hint>
        <mat-error *ngIf="passport.errors?.pattern">
          Please enter a valid passport No.!
        </mat-error>
        <mat-error *ngIf="passport.errors?.required">
          Passport No. is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="login-card-full-width"
      (focusout)="setProgress(55)"
      *ngIf="optionValue == 'IC'">
        <mat-label>Enter your IC No.</mat-label>
        <input type="text" matInput name="IC"
          ngModel #IC="ngModel"
          pattern="[0-9]{12}"
          placeholder="Eg. 901010105555" required>
        <mat-hint>Make sure your IC No. is valid.</mat-hint>
        <mat-error *ngIf="IC.errors?.pattern">
          Please enter a valid IC No.!
        </mat-error>
        <mat-error *ngIf="IC.errors?.required">
          IC No. is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button class="login-button" color="accent">Proceed</button>
      </form>
  </div>
</mat-card>

<mat-card class="login-card"
*ngIf="page===3"
style="margin-top: 10em;">
<div>
  <h1>Register</h1>
  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
  <br>
  <p style="text-align: center;">
    Hang on, almost there...
  </p>
  <br>
  <h2>You have...</h2>
  <button mat-stroked-button class="patient-button" color="primary">not vaccinated yet.</button>
  <button mat-stroked-button class="admin-button" color="primary">taken first dose.</button>
</div>
</mat-card>

<!--admin register-->
<mat-card class="login-card"
*ngIf="page===4"
style="margin-top: 5em;">
  <div>
    <h1>Register</h1>
    <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    <br>
    <p>
        Fill in the fields. Fields with * are required.
    </p>

    <br>

    <mat-form-field appearance="fill" class="login-card-full-width">
      <mat-label>Please enter your Email..</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Eg. email@example.com">
    <mat-hint>hint goes here</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button class="login-button" color="accent">Proceed</button>
  </div>
</mat-card>

<!--if user found-->
<mat-card class="login-card"
*ngIf="page===5"
style="margin-top: 5em;">
  <div>
    <h1>Welcome back, name</h1>
    <p>
        Make sure to keep your password private.
        Never share it to anyone.
    </p>

    <br>

    <mat-form-field appearance="fill" class="login-card-full-width">
      <mat-label>Please enter your Password..</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Eg. email@example.com">
    <mat-hint>hint goes here</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button class="login-button" color="accent">
      Login
    </button>
  </div>
</mat-card>
