<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <a routerLink="home" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">home</mat-icon>Home</div></a>
    <a routerLink="vaccine" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">list</mat-icon>Manage Vaccines</div></a>
    <a routerLink="appointment" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">event</mat-icon>Vaccine Appointments</div></a>
    <a mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">perm_identity</mat-icon>Privacy & Security</div></a>
    <a mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">settings</mat-icon>Languages & Settings</div></a>
    <hr>
    <a mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">bug_report</mat-icon>Bugs & Feedbacks</div></a>
    <a routerLink="/login" (click)="logout()" mat-button class="sidenav-btn"><div class="icon-text"><mat-icon class="sidenav-icon">launch</mat-icon>Logout</div></a>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
