
<div mat-dialog-content>
  <p>Pick a date for Appointment.</p>
  <mat-form-field appearance="fill" style="width: 200px;">
    <mat-label>Appoint a Date:</mat-label>
    <input matInput [matDatepicker]="picker" required
           (dateInput)="onEvent('input', $event)" (dateChange)="onEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.selecteddate" [disabled]="verify">Ok</button>
</div>
