<h1><b>Request Appointment</b></h1>
<hr>
<p>Select a healthcare centre to continue.</p>
<br>

<div style="width: 100%;">
  <p>
    <span><mat-icon class="sort-icon"> format_list_numbered</mat-icon></span>
    <mat-button-toggle-group appearance="legacy" name="sort" aria-label="Font Style" #sort="matButtonToggleGroup">
      <mat-button-toggle value="">Available</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</div>

<mat-card class="center-card" multi= "true" *ngFor="let centre of vacCentres" matRipple [matRippleColor]="'#fcc2c2'">
  <mat-grid-list cols="5" rowHeight="40px">
    <mat-grid-tile colspan="5"><div class="vac-tiles" style="font-size: 16px;">
      <b>{{centre.centreName}}</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="5"><div class="vac-tiles"><mat-icon>location_on</mat-icon>{{centre.centreAddress}}</div></mat-grid-tile>
    <mat-grid-tile colspan="2"><div class="vac-tiles"><mat-icon>location_city</mat-icon>
      {{centre.centreState}}
    </div></mat-grid-tile>
    <mat-grid-tile colspan="3"><div class="vac-tiles"><mat-icon> my_location</mat-icon>
      {{centre.centrePos}}
    </div></mat-grid-tile>

  </mat-grid-list>
  <mat-toolbar-row class="action-bar">
    <span class="spacer"></span>
    <button mat-stroked-button color='accent' routerLink='{{centre.centreID}}'
    style="display: block;margin-left: auto;margin-right: 0px;">
    Select centre</button>
  </mat-toolbar-row >
</mat-card>


<p *ngIf="vacCentres.length<1" style="text-align: center;">There are no vaccines.</p>
