<h1><b>Request Appointment</b></h1>
<hr>
<p>Select a vaccine to continue.</p>
<br>

<mat-card class="center-card" multi= "true" *ngFor="let vaccine of vaccines" matRipple [matRippleColor]="'#fcc2c2'">
  <mat-grid-list cols="5" rowHeight="40px">
    <mat-grid-tile colspan="3"><div class="vac-tiles" style="font-size: 16px;">
      <b>{{vaccine.vaccineName}}</b>
    </div></mat-grid-tile>
    <mat-grid-tile colspan="1"><div class="vac-tiles"><!--
      <mat-icon>blur_on</mat-icon>Batches: {{getTotalBatches(vaccine)}}--></div></mat-grid-tile>
    <mat-grid-tile colspan="1"><div class="vac-tiles"><!--<mat-icon>check_circle_outline</mat-icon>
      Available: {{getTotalAvailable(vaccine)}}-->
    </div></mat-grid-tile>
    <mat-grid-tile colspan="5"><div class="vac-tiles"><mat-icon> store_mall_directory</mat-icon>
      {{vaccine.manufacturer}}
    </div></mat-grid-tile>

  </mat-grid-list>
  <mat-toolbar-row class="action-bar">
    <span class="spacer"></span>
    <button mat-stroked-button color='accent' routerLink="centres/{{vaccine.vaccineName}}"
    style="display: block;margin-left: auto;margin-right: 0px;">
    Select</button>
  </mat-toolbar-row >
</mat-card>
